<!-- Describe task in general -->
<p style="text-align: justify;">
    一位农民雇用了一个稻草人机器人来保护他的玉米地。机器人沿着一条路径绕种植园一周，途经<code>stations</code> 。每天，机器人从 1 号站点开始，沿着一系列<code>commands</code> ，顺时针（1）或逆时针（-1）移动到邻近站点。
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}scarecrow-robot.svg" alt="example" style="max-height: 200px"/>
</p>
<p style="text-align: justify;">
    同时给定受监控的<code>control</code> 站的编号，计算机器人一天内访问该站的次数。
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>两个整数 (<code>{% if is_js %}number{% else %}int{% endif %}</code>) 和{% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span>(<code>{% if is_js %}array{% else %}list{% endif %}</code>) 的整数数组。
</p>

<p>
   <strong>输出：</strong>整数。
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
