<!-- Describe task in general -->
<p style="text-align: justify;">
    Ein Bauer setzt einen Vogelscheuchen-Roboter ein, um sein Maisfeld zu schützen. Der Roboter folgt einem Pfad rund um die Plantage und passiert dabei die <code>stations</code> im Kreis. Jeden Tag startet der Roboter an Station 1 und folgt einer Reihe von <code>commands</code>, die ihn im Uhrzeigersinn (1) und gegen den Uhrzeigersinn (-1) zu den benachbarten Stationen bringen.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}scarecrow-robot.svg" alt="example" style="max-height: 200px"/>
</p>
<p style="text-align: justify;">
    Berechnen Sie anhand der Nummer der <code>control</code> Station, die überwacht wird, wie oft der Roboter die Station an einem Tag besucht.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Zwei Ganzzahlen (<code>{% if is_js %}number{% else %}int{% endif %}</code>) und ein {% if is_js %}Array{% else %}Liste{% endif %} (<code>{% if is_js %}array{% else %}list{% endif %}</code>) von ganzen Zahlen.
</p>

<p>
   <strong>Ausgabe:</strong> Ganzzahl.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
