<!-- Describe task in general -->
<p style="text-align: justify;">
    Rolnik zatrudnia robota stracha na wróble do ochrony swojego pola kukurydzy. Robot podąża ścieżką wokół plantacji, przechodząc przez <code>stations</code>. Każdego dnia robot zaczyna od stacji 1 i podąża za serią <code>commands</code>, która przenosi go do sąsiednich stacji, zarówno zgodnie z ruchem wskazówek zegara (1), jak i przeciwnie do ruchu wskazówek zegara (-1).
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}scarecrow-robot.svg" alt="example" style="max-height: 200px"/>
</p>
<p style="text-align: justify;">
    Biorąc również pod uwagę numer stacji <code>control</code>, która jest monitorowana, proszę obliczyć, ile razy robot odwiedza tę stację w ciągu dnia.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Dwie liczby całkowite (<code>{% if is_js %}number{% else %}int{% endif %}</code>) i tablica {% if is_js %}{% else %} lista{% endif %} (<code>{% if is_js %}array{% else %}list{% endif %}</code>) liczb całkowitych.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
